.vertical-menu {
  padding-left: 0;
}

.vertical-menu li {
  list-style-type: none;
}

.user-info {
}

.profile-image {
  border-radius: 50%;
  width: 100px;
}

.post-img {
  width: 100%;
  border-radius: 20px;
}
