<div class="row blue-100-bg">
  <div class="col-lg-4 girlImg"></div>
  <div class="col-lg-8 my-5 form-container">
    <img src="../../assets/images/randomly-logo.svg" class="d-block mx-auto" alt="">
    <div class=" w-50 mx-auto mt-5 purple-400-border-top bg-white p-5 rounded">
      <h4 class="text-center mt-2 mb-4">Create an account</h4>
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="row mb-1">
          <div class="col">
            <label class="form-label fw-bold">First name</label>
            <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
          </div>
          <div class="col">
            <label class="form-label fw-bold">Last name</label>
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <label class="form-label fw-bold">Email</label>
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <label class="form-label fw-bold">Username</label>
            <input type="text" class="form-control" placeholder="Username" formControlName="username">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <label class="form-label fw-bold">Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <label for="formGroupExampleInput" class="form-label fw-bold">Date of birth</label>
            <input type="text" class="form-control" placeholder="Date of birth" formControlName="dateOfBirth">
          </div>
        </div>
        <div class="row mb-1">
          <app-spiner *ngIf="loading"></app-spiner>
          <button class="btn purple-500-bg rounded-pill text-white mt-4" type="submit" [disabled]="registerForm.invalid"
            *ngIf="!loading">
            Get
            started
          </button>
          <div class="alert alert-danger d-none mt-2 text-center" id="reg-wrong-validation" role="alert">
            Invalid inputs <br>
            Date must be in format: dd/mm/yyyy
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-center mt-5">
              Already have an account? <a routerLink="/login" class="purple-500-text">Sign in</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
